.headercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: row;
    height: 15rem;
}

.header img{
    height: 15rem;
}

.header .informacoes{
    background-color: rgb(255, 162, 162);
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 0.9rem;
}

.sectioncontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    width: 60%;
    margin: 0 auto;
}

.maincontainer{
    display: flex;
    flex-direction: row;
    gap: 17rem;
    justify-content: center;
    align-items: center;
}

.habilidades,.sobreMim{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habilidades ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 0;
}

.habilidades ul li, .sobreMim ul li{
    text-align: center;
}


.sobreMim ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 0;
}

.habilidades h4,.sobreMim h4{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
}


.infosection{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    justify-content: space-between;
}

.infosection div{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.125rem;
}


.infosection div ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.55rem;
}


.infoformacao h4, .inforealizacao h4, .infoexperiencia h4{
    margin-left: 2.5rem;
}



/* O CURRÍCULO FICA RESPONSIVO (CELULAR, TABLET E DESKTOP) COM ESSAS MEDIDAS */

/* CELULAR (MIN: 600 MAX 768) */

/* TABLET (MIN:768 MAX: 992) */

/* DESKTOP (MIN: 992 MAX: 1200) */

@media screen and (max-width: 600px) {
    h1 {
        font-size: 0.8rem;
    }

    h4 {
        font-size: 0.6rem;
    }

    li {
        font-size: 0.6rem;
    }

    .header img {
        height: 10rem;
    }

    .header .informacoes{
        height: 10rem;
        font-size: 0.6rem;
    }

    .maincontainer {
        gap: 2rem;
    }

    .habilidades h4,.sobreMim h4{
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
    }

    .infosection div {
        gap: 0rem;
    }

    .header {
        height: 10rem;
    }

    .infosection div ul li {
        font-size: 0.6;
    }
}



@media screen and (min-width: 768px) and (max-width: 992px) {
    .habilidades h4,.sobreMim h4{
        text-align: center;
        font-size: 1rem;
    }    
}